{% from 'components/forms.html' import input %}
{% from 'components/forms.html' import navButton %}

<nav>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-2 text-start">
                <img class = "logo" src="{{ url_for('static', filename='images/7movieslogo.png') }}" alt="image">
            </div>
            <div class="col-2">
                {{navButton('Home','home','navButton')}}
            </div>
            <div class="col-1">
            </div>
            <div class="col-6">
                {{input('navSearch','text','Search for a movie', 'navInput')}}    
            </div>
            <div class="col-1">
                <a href = "{{ url_for('account')}}"> <img class = "profile" src = "{{ url_for('static', filename='images/profile.png') }}"></a>    
            </div>
        </div>
    </div>
</nav>


