{% from 'components/forms.html' import input %}
{% from 'components/forms.html' import navButton %}

<nav>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-1 text-start">
                <img class = "logo" src="{{ url_for('static', filename='images/7movieslogo.png') }}" alt="image">
            </div>
            <div class="col-lg-2">
                {{navButton('Home','home','navButton')}}
            </div>
            <div class="col-lg-2">
            </div>
            <div class="col-lg-6">
                {{input('navSearch','text','Search for a movie', 'navInput')}}    
            </div>
            <div class="col-lg-1 text-end">
                <a href = "{{ url_for('account')}}"> <img class = "pfpNav" src = "placeholder.png"></a>    
            </div>
        </div>
    </div>
</nav>
<!-- nav bar
        <nav>
            <ul class="navUl nav nav-tabs fixed-top" id="navId" role="tablist">
                <li class="main-item">
                    <a href="{{ url_for('home')}}" class="nav-link white-link active">Home</a>
                </li>
                <li class="plot-item" role="presentation">
                    <a href="{{ url_for('login')}}" class="nav-link white-link" >Gameplay/Plot</a>
                </li>
                <li class="development-item" role="presentation">
                    <a href="development.html" class="nav-link white-link">Development</a>
                </li>
                <li class="Reception-item" role="presentation">
                    <a href="Reception.html" class="nav-link white-link">Reception</a>
                </li>
                <li class="legacy-item" role="presentation">
                    <a href="Legacy.html" class="nav-link white-link">Legacy </a>
                </li>
            </ul>
        <br> <br>
        </nav>


        <div class="nav">

        <img class = "logo" src="{{ url_for('static', filename='images/7movieslogo.png') }}" alt="image">
            <a class="nav-link " href="{{ url_for('home')}}" aria-current="page">Home</a>
            {{input('navSearch','text','Search for a movie', 'navInput')}}
        <a href = "{{ url_for('account')}}"> <img class = "pfpNav" src = "placeholder.png"></a>
    </div>
-->

