{% from 'components/forms.html' import input,button ,navButton %}

<nav>
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-2 text-start">
				<img class="logo" src="{{ url_for('static', filename='images/7movieslogo.png') }}" alt="image">
			</div>
			<div class="col-2">
				
			</div>
			<div class="col-5">
			</div>
			<div class="col-2">
				<form action="{{ url_for('logout') }}" method="POST">
					{{button('Logout', 'logout','Logout', 'navButton adminNav')}}
				</form>
			</div>
			<div class="col-1">
				<img class="profile" src="{{ url_for('static', filename='images/AdminIcon.png') }}"></a>
			</div>
		</div>
	</div>
</nav>