{% macro input(name , type ="text", placeholder="" , class ="") %}
    <div>
        <form action="">
        <input  
                name = "{{name}}"
                type= "{{type}}"
                placeholder="{{placeholder}}" 
                class="text-center w-100 {{class}}">
            </input>
        </form>
    </div>
{% endmacro %}

{% macro navButton(text ="", dest="", class ="") %}
    <div>
        <a href="{{ url_for(dest) }}"
                class="text-center w-100 {{class}}">
                {{text}}
        </a>
    </div>
{% endmacro %}

{% macro button(name , type ="button" ,text ="", class ="") %}
    <div>
        <button  
                name = "{{name}}"
                type= "{{type}}"
                class="text-center big_button w-100 {{class}}">
        {{text}}</button>
    </div>
{% endmacro %}

