{% macro input(name , type ="text", placeholder="" , class ="") %}
<div>
    <input name="{{name}}" type="{{type}}" placeholder="{{placeholder}}" class="text-center w-100 {{class}}" min="0" max="10">
    </input>
</div>
{% endmacro %}

{% macro reviewText(name , type ="text", placeholder="" , class ="") %}
<div>
    <textarea  name="{{name}}" type="{{type}}" placeholder="{{placeholder}}" class="auto-expand w-100 {{class}} " rows="3"></textarea >
</div>
{% endmacro %}

{% macro navButton(text ="", dest="", class ="") %}
<div>
    <a href="{{ url_for(dest) }}" class="text-center w-100 {{class}}">
        {{text}}
    </a>
</div>
{% endmacro %}

{% macro button(name , type ="button" ,text ="", class ="") %}
<div>
    <button name="{{name}}" type="{{type}}" class="text-center w-100 {{class}}">
        {{text}}</button>
</div>
{% endmacro %}
