.reviews {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.review {
  display: flex;

  /* justify-content: space-between; */

  background: snow;
  border: 1px solid #ddd;
  border-radius: 8px;

  padding: 15px;
}

/* not needed */
.BoxTitles {
    display: inline-block;
  
}

.squareButton {
    height: 30px;
    width: 40px;
    float: right;
    margin-left: 15px;
} 

#reviewDescription {
    display: block;

}
