{% extends 'layout/base.html' %}
{% from 'components/forms.html' import input %}
{% from 'components/forms.html' import button %}
{% from 'components/user.html' import movieCard %}
{% from 'components/user.html' import MovieCardScroll %}



{% block heading %} 
    Welcome, {{ session['user'] }}!
{% endblock %}

{% block heading2 %} 
    <form action="{{ url_for('logout') }}" method="POST">
        {{button('logout','submit','Log Out','big_button filterButton btn')}} 
    </form>

{% endblock %}

{% block content %} 
    <h2 class="scrollHeading">Your Favourites </h2>
    {{ MovieCardScroll(movies) }}
{% endblock %}