{% extends 'layout/base.html' %}
{% from 'components/forms.html' import input %}
{% from 'components/forms.html' import button %}
{% from 'components/admin.html' import review %}
{% from 'components/admin.html' import movie %}


{% block content %} 
        <div class="row align-items-center g-0">
            <div class="col-lg-10 pe-2 ps-4">
                {{input('Search','text','Search for a movie', 'homeInput')}}    
            </div>
            <div class="col-lg-2 ps-2 pe-4">
				{{button('Filter','submit','Filter','filterButton')}}
            </div>
        </div>

        {{movie('movies','Thrawn','BLabee bughh be bee blee Labee bughh be bee bleeLabee bughh be bee bleeLabee bughh be bee blee', '9.8')}}

    
{% endblock %}