{% extends 'layout/base.html' %}
{% from 'components/forms.html' import input %}
{% from 'components/forms.html' import button %}

{% block content %} 
        <div class="row align-items-center g-0">
            <div class="col-lg-10 pe-2 ps-4">
                {{input('Search','text','Search for a movie', 'homeInput')}}    
            </div>
            <div class="col-lg-2 ps-2 pe-4">
				{{button('Filter','submit','Filter','filterButton')}}
            </div>
        </div>



        <div class="container-fluid d-flex align-items-center justify-content-center py-3">
            <div class="row w-100 justify-content-center">
            <div class="list-container col-11 col-md-11 bg-grey rounded-4">
            <div class="d-flex align-items-baseline gap-3 mb-1">
                    <h1 class="fw-bold">Movie Title</h1>
                    <h4 class="fw-bold ms-3">Account Name</h2>
                </div>
                <p class="lead">
                    bla balalalalalals asjofnoasnd asodnfvjsdnfnaoisfnoiasn
                </p>
                </div>
            </div>
        </div>

        <div class="container-fluid d-flex align-items-center justify-content-center py-3">
            <div class="row w-100 justify-content-center">
            <div class="list-container col-11 col-md-11 bg-grey rounded-4">
            <div class="d-flex align-items-baseline gap-3 mb-1">
                    <h1 class="fw-bold">Movie Title</h1>
                    <h4 class="fw-bold ms-3">Account Name</h2>
                </div>
                <p class="lead">
                    bla balalalalalals asjofnoasnd asodnfvjsdnfnaoisfnoiasn
                </p>
                </div>
            </div>
        </div>
        <div class="container-fluid d-flex align-items-center justify-content-center py-3">
            <div class="row w-100 justify-content-center">
            <div class="list-container col-11 col-md-11 bg-grey rounded-4">
            <div class="d-flex align-items-baseline gap-3 mb-1">
                    <h1 class="fw-bold">Movie Title</h1>
                    <h4 class="fw-bold ms-3">Account Name</h2>
                </div>
                <p class="lead">
                    bla balalalalalals asjofnoasnd asodnfvjsdnfnaoisfnoiasn
                </p>
                </div>
            </div>
        </div>

        <div class="container-fluid d-flex align-items-center justify-content-center py-3">
            <div class="row w-100 justify-content-center">
            <div class="list-container col-11 col-md-11 bg-grey rounded-4">
            <div class="d-flex align-items-baseline gap-3 mb-1">
                    <h1 class="fw-bold">Movie Title</h1>
                    <h4 class="fw-bold ms-3">Account Name</h2>
                </div>
                <p class="lead">
                    bla balalalalalals asjofnoasnd asodnfvjsdnfnaoisfnoiasn
                </p>
                </div>
            </div>
        </div>

        <div class="container-fluid d-flex align-items-center justify-content-center py-3">
            <div class="row w-100 justify-content-center">
            <div class="list-container col-11 col-md-11 bg-grey rounded-4">
            <div class="d-flex align-items-baseline gap-3 mb-1">
                    <h1 class="fw-bold">Movie Title</h1>
                    <h4 class="fw-bold ms-3">Account Name</h2>
                </div>
                <p class="lead">
                    bla balalalalalals asjofnoasnd asodnfvjsdnfnaoisfnoiasn
                </p>
                </div>
            </div>
        </div>

        <div class="container-fluid d-flex align-items-center justify-content-center py-3">
            <div class="row w-100 justify-content-center">
            <div class="list-container col-11 col-md-11 bg-grey rounded-4">
            <div class="d-flex align-items-baseline gap-3 mb-1">
                    <h1 class="fw-bold">Movie Title</h1>
                    <h4 class="fw-bold ms-3">Account Name</h2>
                </div>
                <p class="lead">
                    bla balalalalalals asjofnoasnd asodnfvjsdnfnaoisfnoiasn
                </p>
                </div>
            </div>
        </div>



        
{% endblock %}