{% extends 'layout/logintemp.html' %}
{% from 'components/forms.html' import input, button%}

{% block title %}Edit Username{% endblock %}

{% block content %}
<div class="container-fluid">
	<form action="{{ url_for('editUser') }}" method="POST">
		<div class="row justify-content-center text-center my-3">
			<div class="col-8">
				<h1 class="loginHeading">Update Username</h1>
				{{ input('currentPassword', 'password', 'Enter Current Password') }}
				{{ input('newUsername', 'text', 'Enter New Username') }}
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-4">
				{{ button('updateBtn', 'submit', 'Update Username', 'big_button btn') }}
			</div>
		</div>
	</form>
</div>
{% endblock %}