{% extends 'layout/base.html' %}
{% from 'components/forms.html' import input %}
{% from 'components/forms.html' import button %}
{% from 'components/user.html' import movieCard %}


{% block heading %} 
    7Movies
{% endblock %}

{% block heading2 %} 
	{{button('Filter','submit','Filter','filterButton btn')}}
{% endblock %}

{% block content %} 
    <div class="container-fluid">
        <div class="d-flex">
        {% for movie in movies %}
            {{movieCard("https://image.tmdb.org/t/p/w200" + movie.poster_path, movie.title)}}        
        {% endfor %}
        </div>
    </div>
{% endblock %}