{% extends 'layout/movietemplate.html' %}
{% from 'components/forms.html' import button, reviewText , input %}
{% from 'components/user.html' import actorCardScroll, infoReview %}

{% block heading %}
{{ movie.title }}
{% endblock %}

{% block heading2 %}
<form action="{% if is_favourite %}
                {{ url_for('remove_favourite', movie_id=movie.id) }}
             {% else %}
                {{ url_for('add_favourite', movie_id=movie.id) }}
             {% endif %}" method="POST">

    <button type="submit" style="background: none; border: none; padding: 0;">
        <img src="{% if is_favourite %}
                    {{ url_for('static', filename='images/star.png') }}
                 {% else %}
                    {{ url_for('static', filename='images/starHover.png') }}
                 {% endif %}" style="width: 50px; cursor: pointer;">
    </button>

</form>
{% endblock %}

{% block heading3 %}
<h2>{{ "%.1f"|format(movie.vote_average) }} / 10</h2>
{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class="row infoRow">
        <div class="col-4">
            {% if movie.poster_path %}
            <img class="infoPoster" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}">
            {% endif %}
        </div>
        <div class="col-2 infoPara">

            <h3>Release Date</h3>
            <p> {{ movie.release_date }}</p>
            <h3>Director</h3>
            <p>
                {% for d in directors %}
                {{ d }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>

            <h3>Writers</h3>
            <p>
                {% for w in writers %}
                {{ w }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>

            <h3>Genre</h3>
            <p>
                {% for g in genres %}
                {{ g }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>

        </div>
        <div class="col-6 infoPara">
            <h3> Overview </h3>
            <p>{{ movie.overview }}</p>
            {{ actorCardScroll(actors) }}
        </div>

    </div>

    <div class="container-fluid px-0">
        <div class="row align-items-center">
            <div class="col-3 ps-0 pe-2 heading">
                <h1>
                    Reviews
                </h1>
            </div>
            <div class="col-6 ps-2 pe-2">
                {{reviewText('Review','text','Review text here','rateInput')}}
            </div>
            <div class="col-1">
                {{input('rating','number','Rate','rateInput')}}
            </div>
            <div class="col-2 ps-2 pe-5">
                {{button('rate','submit','Submit','big_button btn')}}
            </div>
        </div>
    </div>


    {{infoReview('reviews','BUngo','Jeff','BLabee bughh be bee blee Labee bughh be bee bleeLabee bughh be bee bleeLabee
    bughh be bee blee BLabee bughh be bee blee Labee bughh be bee bleeLabee bughh be bee bleeLabee
    bughh be bee blee BLabee bughh be bee blee Labee bughh be bee bleeLabee bughh be bee bleeLabee
    bughh be bee blee BLabee bughh be bee blee Labee bughh be bee bleeLabee bughh be bee bleeLabee
    bughh be bee blee')}}



    {% endblock %}