{% extends 'layout/movietemplate.html' %}
{% from 'components/forms.html' import button %}
{% from 'components/user.html' import actorCardScroll %}
{% from 'components/user.html' import infoReview %}

{% block heading %}
{{ movie.title }}
{% endblock %}

{% block heading2 %}
<form action="{{ url_for('movieapi', movieid=movieid) }}" method="POST">
    <img class="star btn" type="submit" src="{{ url_for('static', filename='images/star.png') }}" alt="image">
</form>
{% endblock %}

{% block heading3 %}
<h2>{{ movie.vote_average }} /10</h2>
{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class="row infoRow">
        <div class="col-4">
            {% if movie.poster_path %}
            <img class="infoPoster" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}">
            {% endif %}
        </div>
        <div class="col-2 infoPara">

            <h3>Release Date</h3>
            <p> {{ movie.release_date }}</p>
            <h3>Director</h3>
            <p>
                {% for d in directors %}
                {{ d }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>

            <h3>Writers</h3>
            <p>
                {% for w in writers %}
                {{ w }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>

            <h3>Genre</h3>
            <p>
                {% for g in genres %}
                {{ g }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>

        </div>
        <div class="col-6 infoPara">
            <h3> Overview </h3>
            <p>{{ movie.overview }}</p>
            {{ actorCardScroll(actors) }}
        </div>

    </div>

    {{infoReview('reviews','BUngo','Jeff','BLabee bughh be bee blee Labee bughh be bee bleeLabee bughh be bee bleeLabee
    bughh be bee blee')}}



    {% endblock %}