{% extends 'layout/logintemp.html' %}
{% from 'components/forms.html' import input %}
{% from 'components/forms.html' import button %}


{% block title %}Sign Up{% endblock %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-lg-8">
                {{input('Username','text','Enter Username', 'signUpInput')}}
                {{input('Password','password','Enter Password','signUpInput')}}
                {{input('ReEnter','password','Re-Enter Password','signUpInput')}}
                </div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-4">
				<a href="{{ url_for('login')}}" >
                    {{button('Signup','button','Sign Up','btn')}}
                </a>
			</div>
		</div>

{% endblock %}