{% extends 'layout/logintemp.html' %}
{% from 'components/forms.html' import navButton %}

{% block title %}7Movies{% endblock %}


{% block heading %} 
    7Movies
{% endblock %}

{% block heading2 %} 
	<img class = "logo offset-7" src="{{ url_for('static', filename='images/7movieslogo.png') }}" alt="image">
{% endblock %}

    {% block content %}
            <div class="container-fluid">
                <div class="row justify-content-center text-center my-5">
                    <div class="col-lg-4">
                        <div class="loginHeading">
                            <h1>Wrong details</h1> 
                            <h2>Please try again</h2>  
                        </div>
                            {{navButton('Return','/','big_button btn')}}
                    </div>
                </div>
            </div>
    {% endblock %}
